<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Signal Processing</title>

    <!-- Attaching the JavaScript file to this html page. -->
    <script src="static/index_system_1.js"></script>
    <script src="static/index_system_2.js"></script>
    <script src="static/index_system_2_a.js"></script>
    <script src="static/index_system_3.js"></script>

    <!-- Attaching a logo -->
    <link rel="icon" href="static/logo.png" type="image/x-icon">           
  </head>
  <body>
    <!-- Self added codes. -->
    <!-- For Header. -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 mx-0 my-0 px-4 py-4" style="background-color: #cccccc;">
          <h6 style="color: _white">Analytics</h6>
          <ol>
            <li><a href="#" style="color: black;">Employee Attrition Predictor</a></li>
          </ol>
        </div>
        <div class="col-lg-3 mx-0 my-0 px-4 py-4" style="background-color: teal;">
          <h6 style="color: _white">Computer Vision</h6>
          <ol>
            <li><a href="#" style="color: black;">Face Verifier</a></li>
          </ol>
        </div>
         <div class="col-lg-3 mx-0 my-0 px-4 py-4" style="background-color: orange;">
          <h6 style="color: _white">Natural Language Processing</h6>
          <ol>
            <li><a href="#" style="color: black;">Utterance to Intent Classifier</a></li>
          </ol>
        </div>
         <div class="col-lg-3 mx-0 my-0 px-4 py-4" style="background-color: mediumseagreen;">
          <h5 style="color: _white">Signal Processing</h5>
          <ol>
            <li><a href="#" style="color: black;">Word Concatination</a></li>
            <li><a href="#" style="color: black;">Name Entity Pronunciation</a></li>
            <li><a href="#" style="color: black;">Vocal Tone and Style Transfer</a></li>
            <li><a href="#" style="color: black;">Conversational Speech</a></li>
            <li><a href="#" style="color: black;">Intended Speech Capture</a></li>
          </ol>
        </div>
      </div>
    </div>
     </div>
    <!-- For System 1. -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-0 my-4 px-4 py-4" style="background-color: _coral;">
          <h3>Word Concatination</h3>
          <p>Here we will be recording each and every word in a particular Tone and Style , save them all per word, so that we will be concatenating them later to create audio form of any combination of words (sentences).</p>
          <br>
          <h5>Procedure For Recording</h5>
          <ol>
            <li>
              Choose a particular Voice (A Voice with a perticular Tone and Style i.e a particular style by a particular speaker) and stick to it thorugh out the entire recording process here.
            </li>
            <li>
              Select a voice. Copy and paste all of your texts in the box (Put all Texts). Click on Analyse. This will just show total number of unique words in the text corpus, number of takes required for the recording and estimated time to record all the takes. 
            </li>
            <li>
              Then Select a Cropping Amp. Threshold and Analysis Time Gap. Put a take number (start with 0) and click on Go. This will show you 8 uniques words. Read all the words in a flow as per the voice first. It's important to keep atleast a 0.5 second gap between each words but preserving the flow while doing recording. Click on Start Recording button to start recording. Keep in mind to use a very good quality microphone with almost 0 noise. After speaking all the words click on Stop Recording button to stop recording.
            </li>
            <li>
              If everything went find you would get a success message else do a retake. The success message is not enough. You should be listening to all the words by playing them from the poped up play buttons verifying that all the words are properly cropped. If done properly, click on Done to submit the take. Else do a retake.  
            </li>
          </ol>
          <br>
          <button id="reset_backend" name="reset_backend" onclick="reset_backend()" type="button" class="btn btn-danger">Reset Backend</button>
          <p class="text-danger">This button deletes all the data stored in the backend for System_1 - Word Concatenation, due to app use. This is for testing purpose. Think twice before using this button.</p>
          <br>
          <select id="select_voice" name="select_voice" class="form-select" aria-label="Default select example">
            <option selected>Select a Voice</option>
            <option value="voice_0_0">Assuring_Male (voice_0_0)</option>
            <option value="voice_0_1">Assuring_Female (voice_0_1)</option>

            <option value="voice_1_0">Informing_Male (voice_1_0)</option>
            <option value="voice_1_1">Informing_Female (voice_1_1)</option>
          </select>
          <br>
          <div class="input-group">
            <span class="input-group-text">Put all Texts here</span>
            <textarea id="all_texts" name="all_texts" class="form-control" aria-label="With textarea" style="height: 200px"></textarea>
          </div>
          <br>
          <div class="col-md-12 text-center">
            <button id="analyse" name="analyse" onclick="analyse()" type="button" class="btn btn-outline-warning" style="width: 60%;">Analyse</button>
          </div>
          <br>
          <p style="text-align: center">Total Numbar of Unique Words:<b id="unique_word_count"> - - </b>, Number of Takes:<b id="no_of_takes"> - - </b>, Estimated Recording Time:<b id="estimated_recording_time"> - - </b><b> Minute(s)</b></p>
          <br><br><br><br>
          <div class="input-group mb-2" style="width: _">
            <input id="system_1_demo_clip" name="system_1_demo_clip" onchange="system_1_grab_audio_url(event)" type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
            <button onclick="system_1_play_demo_clip()" type="button" class="btn btn-outline-info mx-2">
              Play <i class="bi bi-play"></i>
            </button>
            <img id="system_1_demo_clip_animation" src="static/sound_play.gif" class="rounded mx-auto" height="36px" width="36px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
          </div>
          <br>
          <div class="input-group mb-2" style="width: _">
            <select id="crop_amp_threshold" name="crop_amp_threshold" class="form-select" aria-label="Default select example">
              <option selected>Select a Cropping Amp. Threshold</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
              <option value="22">22</option>
              <option value="24">24</option>
              <option value="26">26</option>
              <option value="28">28</option>
              <option value="28">30</option>
              <option value="28">32</option>
            </select>
            <select id="analysis_time_gap" name="analysis_time_gap" class="form-select" aria-label="Default select example">
              <option selected>Select a Sample Analysis Time Gap </option>
              <option value="32">32</option>
              <option value="64">64</option>
              <option value="96">96</option>
              <option value="128">128</option>
              <option value="160">160</option>
              <option value="192">192</option>
              <option value="224">224</option>
              <option value="256">256</option>
              <option value="288">288</option>
              <option value="320">320</option>
              <option value="352">352</option>
              <option value="384">384</option>
              <option value="416">416</option>
              <option value="448">448</option>
              <option value="480">480</option>
              <option value="512">512</option>
            </select>
          </div>
          <br>
          <div class="input-group mb-2" style="width: _">
            <span class="input-group-text" id="basic-addon1">Take Number</span>
            <input id="take_no" name="take_no" type="text" class="form-control" placeholder="" aria-label="Username" value="" aria-describedby="basic-addon1">
            <span id="total_no_of_takes" class="input-group-text" id="basic-addon1">/ - - </span>
            <button id="get_take_words" name="get_take_words" onclick="get_take_words()" type="button" class="btn btn-outline-dark">
              Go <i class="bi bi-arrow-right-short"></i>
            </button>
          </div>
          <br>
          <p id="take_words" name="take_words" class="text-center" style="font-size: 24px">word_0 word_1 word_2 word_3</p>
          <br>
          <div class="col-md-12 text-center">
            <div id="rec_animation" class="spinner-grow text-danger" role="status" style="visibility: hidden">
              <span class="sr-only"></span>
            </div>
            <br><br>
            <button id="start_rec" name="start_rec" onclick="start_rec()" type="button" class="btn btn-outline-primary" style="display: _;">
              <i class="bi bi-mic"></i> Start Recording
            </button>
            <button id="stop_rec" name="stop_rec" onclick="stop_rec()" type="button" class="btn btn-outline-danger" style="display: none">
              <i class="bi bi-stop-btn"></i> Stop Recording
            </button>
          </div>
          <!-- Just trying with some different ideas -->
          <!-- <input id="audio_system_1" type="file" src=""> -->
          <br>
          <p id="please_wait" name="please_wait" class="text-center" style="visibility: hidden;">Please Wait . . </p>
          <p id="processing_status" name="processing_status" class="text-center" style="visibility: hidden;">Success . . !</p>
          <br>
          <p id="word_clips" name="word_clips" class="text-center" style="visibility: hidden">
            <button id="clip_0" name="clip_0" onclick="clip_0()" type="button" class="btn btn-outline-info mx-2 my-2">
              1 <i class="bi bi-play"></i>
            </button>
            <img id="clip_0_animation" name="clip_0_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
            
            <button id="clip_1" name="clip_1" onclick="clip_1()" type="button" class="btn btn-outline-info mx-2">
              2 <i class="bi bi-play"></i>
            </button>
            <img id="clip_1_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
            
            <button id="clip_2" name="clip_2" onclick="clip_2()" type="button" class="btn btn-outline-info mx-2">
              3 <i class="bi bi-play"></i>
            </button>
            <img id="clip_2_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
            
            <button id="clip_3" name="clip_3" onclick="clip_3()" type="button" class="btn btn-outline-info mx-2 my-2">
              4 <i class="bi bi-play"></i>
            </button>
            <img id="clip_3_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
            
           <!--  <button id="clip_4" name="clip_4" onclick="clip_4()" type="button" class="btn btn-outline-info mx-2 my-4">
              5 <i class="bi bi-play"></i>
            </button>
            <img id="clip_4_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
            
            <button id="clip_5" name="clip_5" onclick="clip_5()" type="button" class="btn btn-outline-info mx-2 my-2">
              6 <i class="bi bi-play"></i>
            </button>
            <img id="clip_5_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
            
            <button id="clip_6" name="clip_6" onclick="clip_6()" type="button" class="btn btn-outline-info mx-2 my-2">
              7 <i class="bi bi-play"></i>
            </button>
            <img id="clip_6_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
            
            <button id="clip_7" name="clip_7" onclick="clip_7()" type="button" class="btn btn-outline-info mx-2">
              8 <i class="bi bi-play"></i>
            </button>
            <img id="clip_7_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;"> -->
          </p>
          <br>
          <div id="post_operations" name="post_operations" class="col-md-12 text-center" style="visibility: hidden">
            <button id="retake" name="retake" onclick="retake()" type="button" class="btn btn-outline-secondary mx-2">Retake</button>
            <button id="done" name="done" onclick="done()" type="button" class="btn btn-outline-success mx-2">Done</button>
          </div>
          
          <br><br><br><br>
        </div>
        <div class="col-lg-4 mx-0 my-4 px-4 py-4" style="background-color: _green;">
          <h5>Watchout Explanation Video</h5>
          <iframe width="100%" height="250dp" src="https://www.youtube.com/embed/_xLgXIhebxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br><br>
          <h4>Testing</h4>
          <select id="testing_voice" name="testing_voice" class="form-select" aria-label="Default select example">
            <option selected>Select a Voice</option>
            <option value="voice_0_0">Assuring_Male (voice_0_0)</option>
            <option value="voice_0_1">Assuring_Female (voice_0_1)</option>

            <option value="voice_1_0">Informing_Male (voice_1_0)</option>
            <option value="voice_1_1">Informing_Female (voice_1_1)</option>
          </select>
          <br>
          <div class="input-group">
            <span class="input-group-text">Put all Texts here</span>
            <textarea id="testing_words" name="testing_words" class="form-control" aria-label="With textarea" style="height: 200px"></textarea>
          </div>
          <br>
          <button id="testing_play" name="testing_play" onclick="testing_play()" type="button" class="btn btn-outline-info mx-2">
              Play <i class="bi bi-play"></i>
          </button>
          <img id="testing_play_animation" name="testing_play_animation" src="static/sound_play.gif" height="40px" width="40px" class="rounded float" alt="sound_play" style="visibility: hidden">
          <br><br><br><br>
          <h6>API Usage Guide</h6>
          <br>
          <h6>Python</h6>
          <pre style="background-color: rgb(228, 228, 228); padding: 20px 20px 20px 20px; border-radius: 5px 5px 5px 5px">
import requests

# End point to the TTS system_1.
# url = 'http://127.0.0.1:8000/tts_1/'

data = {
    'voice': 'assuring_male_voice_0_1'
    'phrase': 'd m i finance me ap ka swagat hai.',   
}

response = requests.post(url, data=data)

print(response)
print(response.byte)
          </pre>
          <br>
          <h6>C++</h6>
          <pre style="background-color: rgb(228, 228, 228); padding: 20px 20px 20px 20px; border-radius: 5px 5px 5px 5px;">
Demo Codes
          </pre>
        </div>
      </div>
    </div>
    <!-- For System 2. -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-0 my-4 px-4 py-4" style="background-color: #ebebeb;">
          <h3>Name Entity Pronunciation</h3>
          <h5>(Under Reasearch)</h5>
          <br>
          <p style="color: purple; font-weight: ;">- - The programatically cropping is currently not reliable. This module is under research. Insted use the 2nd module for Name Entity Pronunciation. The alternate module requires some manual works. All the usage guides are included in the alternate module.</p>
          <p>Here we will be recording differnt sounds at character level so as to concat them to produce pronunciation of Name Entities. Here the recording part is only focused on recording Vyanjana Varnas. The Swaravarna are predefined here to test out the pronunciation task.</p>
          <br>
          <h5>Procedure For Recording</h5>
          <ol>
            <li>
              Play the Metronome Button.
            </li>
            <li>
              Then read out all the words on Metronome. Then stop recording. That's it. With this step all the Vyanjana Varna chuncks are going to be cropped exaclty as per the Metronome and both the starting Vyanjana Varna sounds and ending Vyanjan Varna sounds would be splitted up.
            </li>
          </ol>
          <br>
          <button id="system_2_reset_backend" name="system_2_reset_backend" onclick="system_2_reset_backend()" type="button" class="btn btn-danger">Reset Backend</button>
          <p class="text-danger">This button deletes all the data stored in the backend for System_2 - Name Entity pronunciation, due to app use. This is for testing purpose. Think twice before using this button.</p>
          <br>
          <select id="system_2_vv_set" name="system_2_vv_set" class="form-select" aria-label="Default select example">
            <option selected>Select a Vyanjana Varna Set</option>
            <option value="set_0">English Set (set_0)</option>
            <option value="set_1">Hindi Set (set_1)</option>
            <option value="set_2">Tamil Set (set_2)</option>
            <option value="set_3">Hibru Set (set_3)</option>
          </select>
          <br>
          <div class="input-group mb-2" style="width: _">
            <select id="system_2_crop_amp_threshold" name="system_2_crop_amp_threshold" class="form-select" aria-label="Default select example">
              <option selected>Select a Cropping Amp. Threshold</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
              <option value="22">22</option>
              <option value="24">24</option>
              <option value="26">26</option>
              <option value="28">28</option>
              <option value="28">30</option>
              <option value="28">32</option>
            </select>
            <select id="system_2_analysis_time_gap" name="system_2_analysis_time_gap" class="form-select" aria-label="Default select example">
              <option selected>Select a Sample Analysis Time Gap</option>
              <option value="32">32</option>
              <option value="64">64</option>
              <option value="96">96</option>
              <option value="128">128</option>
              <option value="160">160</option>
              <option value="192">192</option>
              <option value="224">224</option>
              <option value="256">256</option>
              <option value="288">288</option>
              <option value="320">320</option>
              <option value="352">352</option>
              <option value="384">384</option>
              <option value="416">416</option>
              <option value="448">448</option>
              <option value="480">480</option>
              <option value="512">512</option>
            </select>
            <select id="system_2_fine_analysis_time_gap" name="system_2_fine_analysis_time_gap" class="form-select" aria-label="Default select example">
              <option selected>Select a Fine Sample Analysis Time Gap</option>
              <option value="32">32</option>
              <option value="64">64</option>
              <option value="96">96</option>
              <option value="128">128</option>
              <option value="160">160</option>
              <option value="192">192</option>
              <option value="224">224</option>
              <option value="256">256</option>
            </select>
          </div>
          <br>
          <button id="system_2_play_metronome" name="system_2_play_metronome" onclick="system_2_play_metronome()" type="button" class="btn btn-outline-success">
              Play Metronome <i class="bi bi-play"></i>
          </button>
          <button id="system_2_stop_metronome" name="system_2_stop_metronome" onclick="system_2_stop_metronome()" type="button" class="btn btn-outline-danger" style="display: none">
              Stop Metronome <i class="bi bi-stop"></i>
          </button>
          <button id="system_2_on_metronome_sound" name="system_2_on_metronome_sound" onclick="system_2_on_metronome_sound()" type="button" class="btn btn-outline-success" style="display: _none; margin-left: 10px; border: none;">
            <i class="bi bi-speaker"></i>
          </button>
          <button id="system_2_off_metronome_sound" name="system_2_off_metronome_sound" onclick="system_2_off_metronome_sound()" type="button" class="btn btn-outline-secondary" style="display: none; margin-left: 10px; border: none">
            <i class="bi bi-speaker"></i>
          </button>
          <br><br>
          <span id="metronome_number" name="metronome_number" style="margin-left: _20px; margin-right: 5px; font-size: 20px;">0</span>
          <i id="tik_1" name="tik_1" class="bi bi-circle-fill mx-2" style="font-size: 24px; color: #ededed; border: 1 px solid black;"></i>
          <i id="tik_2" name="tik_2" class="bi bi-circle-fill mx-2" style="font-size: 12px; color: #ededed"></i>
          <i id="tik_3" name="tik_3" class="bi bi-circle-fill mx-2" style="font-size: 12px; color: #ededed"></i>
          <i id="tik_4" name="tik_4" class="bi bi-circle-fill mx-2" style="font-size: 12px; color: #ededed"></i>
          <span id="metronome_number" name="metronome_number" style="margin-left: 20px; margin-right: 5px">4/--</span>
          <br><br>
          <p id="system_2_characters" name="system_2_characters" class="text-center" style="font-size: 18px; line-height: 2; word-spacing: 10px">
            kk khkh gg ghgh
            <br>
            chch chhchh jj jhjh
            <br>
            tt thth dd dhdh nn
            <br>
            pp phph bb bhbh mm
            <br>
            yy rr ll ww shsh s hh
          </p>
          <br>
          <div class="col-md-12 text-center">
            <div id="system_2_recording_animation" name="system_2_recording_animation" class="spinner-grow text-danger" role="status" style="visibility: hidden">
              <span class="sr-only"></span>
            </div>
            <br><br>
            <button id="system_2_start_recording" name="system_2_start_recording" onclick="system_2_start_recording()" type="button" class="btn btn-outline-primary">
              <i class="bi bi-mic"></i> Start Recording
            </button>
            <button id="system_2_stop_recording" name="system_2_stop_recording" onclick="system_2_stop_recording()" type="button" class="btn btn-outline-danger" style="display: none">
              <i class="bi bi-stop-btn"></i> Stop Recording
            </button>
          </div>
          <br>
          <p id="system_2_please_wait" name="system_2_please_wait" class="text-center" style="visibility: hidden;">Please Wait . . </p>
          <p id="system_2_processing_status" name="system_2_processing_status" class="text-center" style="visibility: hidden;">Success . . !</p>
          <br><br>
          <audio id="system_2_audio_clip" name="system_2_audio_clip" controls style="margin: 0 auto; display: block; visibility: hidden;">
            <source src="/static/system_1/voice_0_0/audio_take_inst.wav" type="audio/ogg">
            Your browser does not support the audio tag.
          </audio>
          <br><br><br>
          <div id="system_2_post_operations" name="system_2_post_operations" class="col-md-12 text-center" style="visibility: hidden">
            <button id="system_2_retake" name="system_2_retake" onclick="system_2_retake()" type="button" class="btn btn-outline-secondary mx-2">Retake</button>
            <button id="system_2_done" name="system_2_done" onclick="system_2_done()" type="button" class="btn btn-outline-success mx-2">Done</button>
          </div>
          <br><br><br><br>
        </div>
        <div class="col-lg-4 mx-0 my-4 px-4 py-4" style="background-color: #ebebeb;">
          <h5>Watchout Explanation Video</h5>
          <iframe width="100%" height="250dp" src="https://www.youtube.com/embed/_xLgXIhebxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br><br>
          <h4>Testing</h4>
          <select id="system_2_vv_set" name="system_2_vv_set" class="form-select" aria-label="Default select example">
            <option selected>Select a Vyanjana Varna Set</option>
            <option value="set_0">English Set (set_0)</option>
            <option value="set_1">Hindi Set (set_1)</option>
            <option value="set_2">Tamil Set (set_2)</option>
            <option value="set_3">Hibru Set (set_3)</option>
          </select>
          <br>
          <div class="input-group">
            <span class="input-group-text">Put a Name here</span>
            <textarea id="system_2_testing_characters" name="system_2_testing_characters" class="form-control" aria-label="With textarea" style="height: 100px"></textarea>
          </div>
          <br>
          <button id="system_2_testing_play" name="system_2_testing_play" onclick="system_2_testing_play()" type="button" class="btn btn-outline-info mx-2">
              Play <i class="bi bi-play"></i>
          </button>
          <img id="system_2_testing_play_animation" name="system_2_testing_play_animation" src="static/sound_play.gif" height="40px" width="40px" class="rounded float" alt="sound_play" style="visibility: hidden">
          <br><br><br><br>
          <h6>API Usage Guide</h6>
          <br>
          <h6>Python</h6>
          <pre style="background-color: rgb(228, 228, 228); padding: 20px 20px 20px 20px; border-radius: 5px 5px 5px 5px">
import requests

# End point to the TTS system_2.
# url = 'http://127.0.0.1:8000/tts_2/'

data = {
    'name': 'ankush deshpande'   
}

response = requests.post(url, data=data)

print(response)
print(response.byte)
          </pre>
          <br>
          <h6>C++</h6>
          <pre style="background-color: rgb(228, 228, 228); padding: 20px 20px 20px 20px; border-radius: 5px 5px 5px 5px;">
Demo Codes
          </pre>
          <br><br><br><br>
          <br><br><br><br>
        </div>
      </div>
    </div>
     </div>

     <!-- For System 2 a. -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-0 my-4 px-4 py-4" style="background-color: _#ebebeb;">
          <h3>Name Entity Pronunciation</h3>
          <h5>(Alternate Module)</h5>
          <p>Here the main objective is to upload Vyanjana Varna chunks one by one with proper naming manual naming. The Swaravarna sounds would be pre-recorded just to give support to the naming pronunciations. Chanign the Style and Tone of the pronunctiation is not possible here in this module.</p>
          <br>
          <h5>Procedure For Uploading</h5>
          <ol>
            <li>
              This is test. 
            </li>
            <li>
              This is test.
            </li>
          </ol>
          <br>
          <button id="system_2a_reset_backend" name="system_2a_reset_backend" onclick="system_2_a_reset_backend()" type="button" class="btn btn-danger">Reset Backend</button>
          <p class="text-danger">This button deletes all the data stored in the backend for System_2 Alternate - Name Entity pronunciation, due to app use. This is for testing purpose. Think twice before using this button.</p>
          <br>
          <div class="input-group mb-2" style="width: _">
            <!-- Options needed. -->
            <select id="system_2_a_vv_set" name="system_2_a_vv_set" class="form-select" aria-label="Default select example">
              <option selected>Select a Vyanjana Varna Set</option>
              <option value="set_0">English_Set (set_0)</option>
              <option value="set_1">Hindi_Set (set_1)</option>
              <option value="set_2">Tamil_Set (set_2)</option>
              <option value="set_3">Hibru_Set (set_3)</option>
            </select>
            <input id="system_2_a_vv_notation" name="system_2_a_vv_notation" type="text" class="form-control" placeholder="Put a Vyanja Varna Notation" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group mb-2" style="width: _">
            <input id="system_2_a_vv_s" name="system_2_a_vv_s" onchange="system_2_a_grab_audio_url_s(event)" type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
            <input id="system_2_a_vv_e" name="system_2_a_vv_e" onchange="system_2_a_grab_audio_url_e(event)" type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-2" style="width: _">
            <button onclick="system_2_a_play_demo_clip_s()" type="button" class="btn btn-outline-info">
              Play <i class="bi bi-play"></i>
            </button>
            <img id="system_2_a_demo_clip_animation_s" src="static/sound_play.gif" class="rounded mx-auto" height="36px" width="36px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
            <button onclick="system_2_a_play_demo_clip_e()" type="button" class="btn btn-outline-info">
              Play <i class="bi bi-play"></i>
            </button>
            <img id="system_2_a_demo_clip_animation_e" src="static/sound_play.gif" class="rounded mx-auto" height="36px" width="36px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
          </div>
          <br>
          <div class="col-md-12 text-center">
            <button id="system_2_a_test" name="" onclick="system_2_a_test()" type="button" class="btn btn-outline-warning" style="width: 60%;">Test</button>
          </div>
          <br>
          <p id="system_2_a_please_wait" name="system_2_a_please_wait" class="text-center" style="visibility: hidden;">Please Wait . . </p>
          <p id="system_2_a_processing_status" name="system_2_a_processing_status" class="text-center" style="visibility: hidden;">Success . . !</p>
          <br><br>
          <audio id="system_2_a_audio_clip" name="system_2_a_audio_clip" controls style="margin: 0 auto; display: block; visibility: hidden;">
            <source src="/static/system_1/voice_0_0/audio_take_inst.wav" type="audio/ogg">
            Your browser does not support the audio tag.
          </audio>
          <br><br>
          <div id="system_2_a_post_operations" name="system_2_post_operations" class="col-md-12 text-center" style="visibility: hidden">
            <button id="system_2_a_retake" name="system_2_a_retake" onclick="system_2_a_reupload()" type="button" class="btn btn-outline-secondary mx-2">Reupload</button>
            <button id="system_2_a_done" name="system_2_a_done" onclick="system_2_a_done()" type="button" class="btn btn-outline-success mx-2">Done</button>
          </div>

          <br><br><br><br>
        </div>
        <div class="col-lg-4 mx-0 my-4 px-4 py-4" style="background-color: _teal;">
          <h5>Watchout Explanation Video</h5>
          <iframe width="100%" height="250dp" src="https://www.youtube.com/embed/_xLgXIhebxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br><br>
          <h4>Testing</h4>
          <select id="system_2_a_vv_set_test" name="" class="form-select" aria-label="Default select example">
            <option selected>Select a Vyanjana Varna Set</option>
            <option value="set_0">English_Set (set_0)</option>
            <option value="set_1">Hindi_Set (set_1)</option>
            <option value="set_2">Tamil_Set (set_2)</option>
            <option value="set_3">Hibru_Set (set_3)</option>
          </select>
          <br>
          <div class="input-group">
            <span class="input-group-text">Put a Name here</span>
            <textarea id="system_2_a_testing_characters" name="system_2_a_testing_characters" class="form-control" aria-label="With textarea" style="height: 100px"></textarea>
          </div>
          <br>
          <button id="system_2_a_testing_play" name="system_2_a_testing_play" onclick="system_2_a_testing_play()" type="button" class="btn btn-outline-info mx-2">
              Play <i class="bi bi-play"></i>
          </button>
          <img id="system_2_a_testing_play_animation" name="system_2_a_testing_play_animation" src="static/sound_play.gif" height="40px" width="40px" class="rounded float" alt="sound_play" style="visibility: hidden">
          <br><br><br><br>
          <h6>API Usage Guide</h6>
          <br>
          <h6>Python</h6>
          <pre style="background-color: rgb(228, 228, 228); padding: 20px 20px 20px 20px; border-radius: 5px 5px 5px 5px">
import requests

# End point to the TTS system_2.
# url = 'http://127.0.0.1:8000/tts_2/'

data = {
    'name': 'ankush deshpande'   
}

response = requests.post(url, data=data)

print(response)
print(response.byte)
          </pre>
          <br>
          <h6>C++</h6>
          <pre style="background-color: rgb(228, 228, 228); padding: 20px 20px 20px 20px; border-radius: 5px 5px 5px 5px;">
Demo Codes
          </pre>
          <br><br><br><br>
          <br><br><br><br>
        </div>
      </div>
    </div>
     </div>
    <!-- For System 3. -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-0 my-4 px-4 py-4" style="background-color: _grey;">
          <h3>Vocal Tone and Style Transfer</h3>
          <p>Here we are recording differnt Swara Varna sounds of a particular style of a particular speaker. The idea is to only record out the differnt Swaravarna sounds and put them in right way to create voice of similar kind.</p>
          <br>
          <h5>Procedure For Recording</h5>
          <ol>
            <li>
              Choose a particular Voice (A Voice with a perticular Tone and Style i.e a particular style by a particular speaker) with which you would like to match the pronunciation and stick to it thorugh out the entire recording process here.
            </li>
            <li>
              Select the Voice type from which the voice and tone needed to be transfered. Upload and listen to the Sample audio to build up the flow to pronounce the words and then turn on the mic and pronounce the sample words with a gap within each with a highly noise less microphone. Once the recording process is complete stop the recording.
            </li>
            <li>
              If all the Swaravarnas are cropped in 3 segments exactly there would be a success message. Then we need to manually see if the 3 Swaravarna chunks are properly done or not by playing the three Swaravarna Sounds. If everything is done properly then click on done else do a retake. 
            </li>
          </ol>
          <br>
          <button id="system_3_reset_backend" name="system_3_reset_backend" onclick="system_3_reset_backend()" type="button" class="btn btn-danger">Reset Backend</button>
          <p class="text-danger">This button deletes all the data stored in the backend for System_3 - Name Entity pronunciation, due to app use. This is for testing purpose. Think twice before using this button.</p>
          <br>
          <select id="system_3_select_voice" name="system_3_voice" class="form-select" aria-label="Default select example">
            <option selected>Select a Voice</option>
            <option value="voice_0_0">Assuring_Male (voice_0_0)</option>
            <option value="voice_0_1">Assuring_Female (voice_0_1)</option>

            <option value="voice_1_0">Informing_Male (voice_1_1)</option>
            <option value="voice_1_1">Informing_Female (voice_1_2)</option>
          </select>
          <br>
          <div class="input-group mb-2" style="width: _">
            <input id="system_3_demo_clip" name="system_3_demo_clip" onchange="grab_audio_url(event)" type="file" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
            <button onclick="system_3_play_demo_clip()" type="button" class="btn btn-outline-info mx-2">
              Play <i class="bi bi-play"></i>
            </button>
            <img id="system_3_demo_clip_animation" src="static/sound_play.gif" class="rounded mx-auto" height="36px" width="36px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
          </div>
          <br>
          <p class="text-center" style="font-size: 24px">
            Example: - - sentence on going -- {kakakak (name entity)} - - sentence on going - - 
            <br><br>
            {a a a} {aa aa aa} {i i i} {u u u} {e e e} {o o o}
          </p>
          <br>
          <div class="input-group mb-2" style="width: _">
            <select id="system_3_crop_amp_threshold" name="system_3_crop_amp_threshold" class="form-select" aria-label="Default select example">
              <option selected>Select a Cropping Amp. Threshold</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
              <option value="10">10</option>
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
              <option value="22">22</option>
              <option value="24">24</option>
              <option value="26">26</option>
              <option value="28">28</option>
              <option value="28">30</option>
              <option value="28">32</option>
            </select>
            <select id="system_3_analysis_time_gap" name="system_3_analysis_time_gap" class="form-select" aria-label="Default select example">
              <option selected>Select a Sample Analysis Time Gap </option>
              <option value="32">32</option>
              <option value="64">64</option>
              <option value="96">96</option>
              <option value="128">128</option>
              <option value="160">160</option>
              <option value="192">192</option>
              <option value="224">224</option>
              <option value="256">256</option>
              <option value="288">288</option>
              <option value="320">320</option>
              <option value="352">352</option>
              <option value="384">384</option>
              <option value="416">416</option>
              <option value="448">448</option>
              <option value="480">480</option>
              <option value="512">512</option>
            </select>
            <select id="system_3_fine_analysis_time_gap" name="system_3_fine_analysis_time_gap" class="form-select" aria-label="Default select example">
              <option selected>Select a Fine Sample Analysis Time Gap </option>
              <option value="32">32</option>
              <option value="64">64</option>
              <option value="96">96</option>
              <option value="128">128</option>
              <option value="160">160</option>
              <option value="192">192</option>
              <option value="224">224</option>
              <option value="256">256</option>
            </select>
          </div>
          <br>
          <div class="input-group mb-2" style="width: _">
            <span class="input-group-text" id="basic-addon1">Take Number</span>
            <input id="system_3_take_no" name="system_3_take_no" type="text" class="form-control" placeholder="" aria-label="Username" value="" aria-describedby="basic-addon1">
            <span id="system_3_total_no_of_takes" class="input-group-text" id="basic-addon1"> / 5 </span>
            <button id="system_3_get_take_sv" name="system_3_get_take_sv" onclick="system_3_get_take_sv()" type="button" class="btn btn-outline-dark">
              Go <i class="bi bi-arrow-right-short"></i>
            </button>
          </div>
          <br>
          <p class="text-center" style="font-size: 24px">Say: <span id="system_3_take_characters">- - -</span></p>
          <br>
          <div class="col-md-12 text-center">
            <div id="system_3_rec_animation" name="system_3_rec_animation" class="spinner-grow text-danger" role="status" style="visibility: hidden">
              <span class="sr-only"></span>
            </div>
            <br><br>
            <button id="system_3_start_rec" name="system_3_start_rec" onclick="system_3_start_rec()" type="button" class="btn btn-outline-primary">
              <i class="bi bi-mic"></i> Start Recording
            </button>
            <button id="system_3_stop_rec" name="system_3_stop_rec" onclick="system_3_stop_rec()" type="button" class="btn btn-outline-danger" style="display: none">
              <i class="bi bi-stop-btn"></i> Stop Recording
            </button>
          </div>
          <br>
          <p id="system_3_please_wait" class="text-center" style="visibility: hidden">Please Wait . . </p>
          <p id="system_3_processing_status" class="text-center" style="visibility: hidden">Success . . !</p>
          <br>
          <p id="system_3_word_clips" class="text-center" style="visibility: hidden">
            <button onclick="system_3_clip_0()" type="button" class="btn btn-outline-info mx-2">
              1 <i class="bi bi-play"></i>
            </button>
            <img id="system_3_clip_0_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">

            <button onclick="system_3_clip_1()" type="button" class="btn btn-outline-info mx-2">
              2 <i class="bi bi-play"></i>
            </button>
            <img id="system_3_clip_1_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">

            <button onclick="system_3_clip_2()" type="button" class="btn btn-outline-info mx-2">
              3 <i class="bi bi-play"></i>
            </button>
            <img id="system_3_clip_2_animation" src="static/sound_play.gif" class="rounded mx-auto" height="20px" width="20px" class="rounded float" alt="sound_play" style="visibility: hidden; display: inline-block;">
          </p>
          <br>
          <div id="system_3_post_operations" class="col-md-12 text-center" style="visibility: hidden">
            <button id="system_3_retake" onclick="system_3_retake()" type="button" class="btn btn-outline-secondary mx-2">Retake</button>
            <button id="system_3_done" onclick="system_3_done()" type="button" class="btn btn-outline-success mx-2">Done</button>
          </div>
          <br><br><br><br>
        </div>
        <div class="col-lg-4 mx-0 my-4 px-4 py-4" style="background-color: _teal;">
            <h5>Watchout Explanation Video</h5>
            <iframe width="100%" height="250dp" src="https://www.youtube.com/embed/_xLgXIhebxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br><br>
            <h4>Testing</h4>
            <select id="system_3_vv_set_test" name="" class="form-select" aria-label="Default select example">
              <option selected>Select a Vyanjana Varna Set</option>
              <option value="set_0">English_Set (set_0)</option>
              <option value="set_1">Hindi_Set (set_1)</option>
              <option value="set_2">Tamil_Set (set_2)</option>
              <option value="set_3">Hibru_Set (set_3)</option>
            </select>
            <br>
            <select id="system_3_testing_voice" name="system_3_testing_voice" class="form-select" aria-label="Default select example">
              <option selected>Select a Voice</option>
              <option value="voice_0_0">Assuring_Male (voice_0_0)</option>
              <option value="voice_0_1">Assuring_Female (voice_0_1)</option>

              <option value="voice_1_0">Informing_Male (voice_1_0)</option>
              <option value="voice_1_1">Informing_Female (voice_1_1)</option>
            </select>
            <br>
            <div class="input-group">
              <span class="input-group-text">Put some Characters<br>here</span>
              <textarea id="system_3_testing_characters" name="system_3_testing_characters" class="form-control" aria-label="With textarea" style="height: 200px"></textarea>
            </div>
            <br>
            <button id="system_3_testing_play" name="system_3_testing_play" onclick="system_3_testing_play()" type="button" class="btn btn-outline-info mx-2">
                Play <i class="bi bi-play"></i>
            </button>
            <img id="system_3_testing_play_animation" name="system_3_testing_play_animation" src="static/sound_play.gif" height="40px" width="40px" class="rounded float" alt="sound_play" style="visibility: hidden">
            <br><br><br><br>
            <h6>API Usage Guide</h6>
            <br>
            <h6>Python</h6>
            <pre style="background-color: rgb(228, 228, 228); padding: 20px 20px 20px 20px; border-radius: 5px 5px 5px 5px">
  import requests

  # End point to the TTS system_1.
  # url = 'http://127.0.0.1:8000/tts_1/'

  data = {
      'voice': 'assuring_male_voice_0_1'
      'phrase': 'd m i finance me ap ka swagat hai.',   
  }

  response = requests.post(url, data=data)

  print(response)
  print(response.byte)
            </pre>
            <br>
            <h6>C++</h6>
            <pre style="background-color: rgb(228, 228, 228); padding: 20px 20px 20px 20px; border-radius: 5px 5px 5px 5px;">
  Demo Codes
            </pre>
          </div>
          <br><br><br><br>
          <br><br><br><br>
        </div>
      </div>
    </div>
    <!-- For System 5. -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-0 my-4 px-4 py-4" style="background-color: grey;">
          <h3>Conversational Speech</h3>
          <p>- - -</p>
          <br>
          <h5>Usage Guide</h5>
          <ol>
            <li>
              - - -
          </ol>
          <br><br><br><br>
        </div>
        <div class="col-lg-4 mx-0 my-4 px-4 py-4" style="background-color: teal;">
          Column
          <br><br><br><br>
          <br><br><br><br>
        </div>
      </div>
    </div>
    <!-- For System 5. -->
    <div class="container-fluid" style="background-color: #292929">
      <br>
      <p class="text-center" style="color: #e3e3e3;">Credits: , </p>
      
      <p class="text-center" style="color: #858585;">© Simpragma | All rights reserved 2022</p>
      <br>
    </div>
    <!-- Self added codes. -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
